.animation {
    display: block;
    position: relative;
    z-index: 10;
}

.animation_layer {
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.animation_layer.parallax {
    position: fixed;
}

.title {
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    position: fixed;
    top: 45%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .title {
        font-size: 30px;
        top: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 20px;
        top: 50%;
    }
}