.navbar {
    background:transparent;
    height: 3rem;
    max-width: 27vw;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.desktopMenuListItem {
    margin-left: 2rem;
    padding: 0.5rem;
    color: #8aaca5;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0 1rem 0 0;
    border-bottom: 3px solid #003329;
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.desktopMenuListItem:hover{
    background: #8aaca5;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 3px solid #003329; 
    border-top: 3px solid #003329;
    border-left: 3px solid #003329;
    cursor: pointer;
} 

.dropdownContent {
    position: absolute;
    /* background-color: #8aaca5; */
    top: 90%;
    width: 85.8%;
    margin-left: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    z-index: 1;
    border-radius: 0 0 1rem 0;
    border-bottom: 3px solid #003329; 
    border-left: 3px solid #003329;
}
  
.item {
    display: block;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
    /* color: #333; */
    color: #8aaca5;
    border-radius: .2rem;
}

.item:hover {
    /* background-color: #ddd; */
    background: #8aaca5;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .navbar {
        max-width: 60vw;
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        max-width: 80vw;
    }
    .desktopMenuListItem {
        margin-left: 1rem;
        font-size: 10px;
        font-weight: 500;
    }
}